@media(min-width: 1920px) {
    .container {
    }

    header {
        margin-bottom: 60px;
    }

    header h1 {
        font-size: 10rem;
    }

    header nav {
        font-size: 3rem;
        
    }

    .hero-area {
        display: flex;
        justify-content: center;
        margin-bottom: 150px;
    }
}