@media(max-width: 500px) {
    .container {
        /* background-color: aqua; */
    }
  
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
        
    }
    header h1 {
        font-size: 5rem;
    }
    header nav {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        font-size: 2rem;
        margin-bottom: 30px;
    }

    .content {
        margin: 0 auto;;
        width: 90%;
    }

    .hero-area {
        margin-bottom: 20px;
    }

    .projects-sections {

    }
    
    .home-project {
        margin-bottom: 10px;
        width:40%;
        background-color: antiquewhite;
    }

    .home-project-description {
        
    }
}